{% macro renderForm(form, buttonLabel, deleteForms) %}
	<div class="container border border-black w-75">
		{{ form_errors(form) }}

		{{ form_start(form) }}

		<div class="d-flex flex-row m-3">
			<div class="mx-1">
				<p class="m-0">Name</p>
				{{ form_row(form.name) }}
			</div>

			<div class="mx-1">
				<p class="m-0">Prix</p>
				{{ form_row(form.price) }}
			</div>

			{% for stockForm in form.stocks %}
				<div class="mx-1">
					{{ form_row(stockForm.size, {'attr': {'class': 'custom-size'}}) }}
					{{ form_row(stockForm.quantity, {'attr': {'class': 'custom-quantity'}}) }}
				</div>
			{% endfor %}
		</div>

		<div class="d-flex flex-row m-3">
			{{ form_row(form.image, {'attr': {'class': 'mx-1'}}) }}
			{{ form_row(form.isPromoted, {'attr': {'class': 'mx-1'}}) }}

			<button type="submit" class="btn btn-light border border-black mx-3">{{ buttonLabel }}</button>


		</div>

		{{ form_end(form) }}
	</div>
{% endmacro %}
