{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		{% import 'form_macros.html.twig' as formMacros %}

		<div>
			<!-- Formulaire d'ajout -->
			{{ formMacros.renderForm(addForm, 'Ajouter') }}

			<!-- Formulaires de mise à jour -->
			{% for product in products %}
				{{ formMacros.renderForm(updateForms[product.id], 'Mettre à jour') }}
				<div>
					{{ form_start(deleteForms[product.id]) }}

					{{form_end(deleteForms[product.id])}}
				</div>
			{% endfor %}
		</div>

	{% else %}
		<h3>Vous n'avez pas les autorisations nécessaire pour accéder à cette page</h3>
		<a href="{{path('app_home')}}">Retourner à l'accueil</a>
	{% endif %}

{% endblock %}
