{% import 'form_macros.html.twig' as formMacros %}
{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!
{% endblock %}

{% block body %}


{% include "header.html.twig" %}

<div>
	<div class="container border border-black w-50 mb-5 mt-5">
		{{ formMacros.renderForm(addForm, 'Ajouter') }}
	</div>

</div>

{% for product in products %}
	<div class="container border border-black w-75 mb-5">
		<div class="row">

			<div class="col-3 border ">
				<img src="{{asset('build/img/' ~ product.name ~ '.jpeg')}}">
			</div>
			<div class="col-9 d-flex justify-content-center align-items-center">
				{{ formMacros.renderForm(updateForms[product.id], 'Mettre à jour') }}
				<div>
					{{ form_start(deleteForms[product.id]) }}

					{{form_end(deleteForms[product.id])}}
				</div>
			</div>
		</div>
	</div>
</div>{% endfor %}</div>{% include "footer.html.twig" %}{% endblock %}
